.todoTasks {
	margin: 60px 30px;
}

.todoTitle {
	font-family: 'Montserrat';
	font-size: 32px;
	line-height: 39px;
	color: #64C4ED;
	border-bottom: 2px solid #e2e2e2;
	padding-bottom: 15px;
}

.notTodo {
	position: absolute;
	width: 347px;
	height: 39px;
	left: 303px;
	top: 234px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: #C9D1D3;
}