.taskRow {
	display: flex;
	align-items: center;
	margin-top: 20px;
	.itemTask {
		display: grid;
		grid-template-columns: 378px 25px 25px;
    align-items: center;
    justify-content: center;
		cursor: pointer;
		&:hover {
			svg {
				opacity: 0.8;
			}
		}
		&Text {
			margin: 0 15px;
			font-size: 16px;
			overflow:hidden;
			text-overflow: ellipsis;
			white-space: pre;
			}
		span {
			&:hover {
				cursor: pointer;
			}
		}
		svg {
			width: 15px;
			height: 15px;
			opacity: 0;
			path {
				fill: #B3B3B3;
			}
			&:hover {
				path {
					fill: darken($color: #B3B3B3, $amount: 25%)
				}
			}
		}
	}
}

.checkbox {
	input {
		display: none;
	}

	svg {
		opacity: 0;
		transition: opacity 0.25s ease-in-out;
	}

	&:hover {
		label {
			background-color: #E1E1E1;
			border: 2px solid #E1E1E1;
			svg {
				opacity: 1;
				path {
					stroke: #B3B3B3
				}
			}
		}
	}

	label {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		width: 20px;
		height: 20px;
		border: 2px solid #E8E8E8;
		border-radius: 50%;
		transition: all 0.25s ease-in-out;
	}

	input:checked + label {
		background-color: #4DD599;
		border: #4DD599;
		svg {
			opacity: 1;
			path {
				stroke: #fff;
			}
		}
	}
}